.crystal-page-header {
  position: relative;
  z-index: 0;
  height: 352px;
  overflow: hidden;
  background-image: url("#{$assetsPath}/img/header-banner@#{map-get($banner-sizes, small)}.jpg");
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: $m-min-width) {
    height: 594px;
    background-image: url("#{$assetsPath}/img/header-banner@#{map-get($banner-sizes, medium)}.jpg");
  }

  @media (min-width: $l-min-width) {
    height: 877px;
    background-image: url("#{$assetsPath}/img/header-banner@#{map-get($banner-sizes, large)}.jpg");
  }
}
