include ../components/_c_heading.pug
include ../components/_c_logo.pug
include ../components/_c_page-footer.pug
include ../components/_c_page-header.pug
include ../components/_c_photo.pug
include ../components/_c_picture-block.pug
include ../components/_c_textblock.pug
