include ../components/_c_heading
include ../components/_c_logo
include ../components/_c_page-footer
include ../components/_c_page-header
include ../components/_c_photo
include ../components/_c_picture-block
include ../components/_c_textblock
