$font-weight-stack: (
  ("gothampro-regular", 400),
  ("gothampro-medium", 500),
  ("gothampro-bold", 700)
);

@each $fontSubtype, $fontWeight in $font-weight-stack {
  @font-face {
    font-weight: $fontWeight;
    font-style: normal;
    font-family: "Gotham Pro";
    font-display: swap;

    src:
      url("../fonts/#{$fontSubtype}.woff2") format("woff2"),
      url("../fonts/#{$fontSubtype}.woff") format("woff");
  }
}
