:root {
  --textblock__container-PaddingHorizontal: 10px;
  --picture-block__list--magazine-shift: 457px;

  @media (min-width: $m-min-width) {
    --textblock__container-PaddingHorizontal: 144px;
  }

  @media (min-width: $l-min-width) {
    --textblock__container-PaddingHorizontal: #{$textblock-heading-margin-left-l};
  }
}
