@mixin font($fontWeight: 400, $fontSize: 20px, $lineHeight: 27px) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: "Gotham Pro", "Arial", sans-serif;
}

@mixin margin-hor($marginHorizontal: auto) {
  margin-left: $marginHorizontal;
  margin-right: $marginHorizontal;
}

@mixin padding-hor($paddingHorizontal: 10px) {
  padding-left: $paddingHorizontal;
  padding-right: $paddingHorizontal;
}

@mixin list() {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin outline($color: green) {
  outline: 1px solid $color;
  outline-offset: -1px;
}

// TODO: delete outline mixin
