$s-min-width: 320px;
$s-max-width: 767px;
$m-min-width: 768px;
$m-man-width: 1279px;
$l-min-width: 1280px;
$l-max-width: 1600px;

$min-content-width: (
  small: $s-min-width - 20px,
  medium: $m-min-width - 20px,
  large: $l-min-width - 20px,
);

$heading-pictures-blocks-small: (
  primary: 200,
  magazine: 110,
  manner: 140,
  stories: 120,
  history: 160,
);

$history-bg-sizes: (
  small: 300,
  medium: 748,
  large: 983,
);

$palegreen: #78939a;
$red: #e51d2e;
