.crystal-page-footer__item {
  @include font(700, 22px, 1);
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 24px;
  }

  .crystal-page-footer__list--edging & {
    color: rgba(0, 0, 0, 0.2);
  }

  .crystal-page-footer__list--center &:nth-child(2) {
    color: $red;
  }

  @media (min-width: $m-min-width) {
    font-size: 48px;
  }

  @media (min-width: $l-min-width) {
    font-size: 64px;
  }
}
