-
  const crystalTextblockTask = [
    'Разработка корпоративного сайта для бренда <strong class="crystal---task__string">“Столичная водка”</strong>. При реализации данного проекта перед нами стояла сложная задача: поменять восприятие потребителя и вывести данный бренд на более высокий ценовой сегмент.',

    '<strong class="crystal---task__string">Мы провели исследование брендов</strong> среднего и верхнего ценового сегментов. Для позиционирования была выбрана концепция представления бренда в формате красочной коктейльной карты с интересными рецептами.',

    'Помимо этого мы <strong class="crystal---task__string">сделали формат интерактивных историй потребителей</strong>, которые делятся своим опытом и красочными яркими моментами жизни. Для этого мы сделали интеграцию инстаграмма с хэштегами бренда.',

    'Сайт получил “взрывную” отдачу от потребителя! Нам блестяще удалось решить эту задачу!',
  ];

  const crystalTextblockDesign = [
    'При проектировании мы сделали <strong class="crystal---task__string">акцент на доступность информации</strong>. Отказавшись от большого массива текстов, было решено широко <strong class="crystal---task__string">использовать привлекательную и удобную графику</strong>.',

    'Каждый блок имеет яркие картинки с параллакс эффектом и плавным переходом. Такой подход к решению поставленной задачи позволил значительно <strong class="crystal---task__string">увеличить время, проводимое пользователем на сайте</strong>.',
  ];

  const crystalTextblockDevelopment = [
    'Для разработки проекта мы использовали фреймворк Laravel для бэкенд- и Vue.js для фронтенд-части.',

    'Данный стек технологий позволил <strong class="crystal---task__string">значительно ускорить работу</strong> сайта, которая страдала в связи с большим количеством фотографий высокого разрешения.',

    'Административная панель сайта была полностью адаптирована под все задачи и нужды клиента, значительно <strong class="crystal---task__string">оптимизировав работу контент-специалистов</strong>.',
  ];
