$heading-pictures-blocks-small: (
  primary: 200,
  magazine: 110,
  manner: 140,
  stories: 120,
  history: 160,
);

.crystal-heading {
  overflow: hidden;

  &--pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @each $key, $value in $heading-pictures-blocks-small {
    &--pictures_#{$key} {
      height: #{$value}px;
    }
  }
}

.crystal-heading__container {
  margin-left: 10px;

  @media (min-width: $s-midpoint) {
    margin-left: calc(#{$heading-margin-left-flexible} + 10px);
  }
}

.crystal-heading__list {
  @include list;
  display: flex;

  .crystal-heading--pictures & {
    position: relative;
  }
}

.crystal-heading__item {
  @include font(700, 32px, 1.15);
  flex-shrink: 0;
  max-width: map-get($min-content-width, small);

  .crystal-heading--textblock & {
    color: rgba(0, 0, 0, 0.05);

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  .crystal-heading--pictures & {
    position: relative;
    z-index: 0;
    text-transform: uppercase;

    &::before {
      position: absolute;
      z-index: -1;
      width: 500%;
    }

    &:not(:last-child) {
      margin-right: 32px;
    }

    &:nth-child(1) {
      position: absolute;
      transform: translateX(calc(-200% - 64px));
      z-index: 1;
    }

    &:nth-child(2) {
      position: absolute;
      transform: translateX(calc(-100% - 32px));

      &::before {
        content: "";
        right: 0;
        background-position-x: 100%;
      }
    }

    &:nth-child(4) {
      &::before {
        content: "";
        left: 0;
        background-position-x: 0;
      }
    }
  }

  .crystal-heading--pictures_stories & {
    width: 240px;
  }

  @each $key, $value in $heading-pictures-blocks-small {
    .crystal-heading--pictures_#{$key} &::before {
      transform: translateY(calc(-50% + 18px));
      height: #{$value}px;
      background-repeat: repeat-x;
    }

    @each $number in (2, 4) {
      .crystal-heading--pictures_#{$key} &:nth-child(#{$number})::before {
        background-image: url("../img/heading--#{$key}@#{$value}.png");
      }
    }
  }
}

.crystal-heading__mainline {
  @include font(inherit, inherit, inherit);
  margin-top: 0;
  margin-bottom: 0;
  color: $red;
}
