$banner-sizes: (
  small: 770,
  medium: 1300,
  large: 1920,
);

.crystal-page-header {
  height: 352px;
  overflow: hidden;
  background-color: $palegreen;
  background-image: url("../img/header-banner@#{map-get($banner-sizes, small)}.jpg");
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: $m-min-width) {
    background-image: url("../img/header-banner@#{map-get($banner-sizes, medium)}.jpg");
  }

  @media (min-width: $l-min-width) {
    background-image: url("../img/header-banner@#{map-get($banner-sizes, large)}.jpg");
  }
}

.crystal-page-header__container {
  @include outline;
  @include margin-hor;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.crystal-page-header__logo {
  justify-self: right;
  align-self: center;
  width: 300px;

  @media (min-width: 500px) {
    margin-right: calc((100vw - 500px) / 2);
  }
}

.crystal-page-header__list {
  @include list;
  order: 1;
}

.crystal-page-header__item {
  @include font(400, 16px, 16px);
  letter-spacing: 0.1em;
  text-align: right;
  text-transform: uppercase;
  color: white;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.crystal-page-header__string {
  font-weight: 700;
}
