$banner-sizes: (
  small: 770,
  medium: 1300,
  large: 1920,
);

.crystal-page-header {
  height: 352px;
  overflow: hidden;
  background-image: url("../img/header-banner@#{map-get($banner-sizes, small)}.jpg");
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: $m-min-width) {
    height: 594px;
    background-image: url("../img/header-banner@#{map-get($banner-sizes, medium)}.jpg");
  }

  @media (min-width: $l-min-width) {
    height: 877px;
    background-image: url("../img/header-banner@#{map-get($banner-sizes, large)}.jpg");
  }
}

.crystal-page-header__container {
  @include margin-hor;
  @include padding-hor;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: $m-min-width) {
    grid-template-rows: auto 1fr;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @media (min-width: $l-min-width) {
    @include padding-hor(32px);
    max-width: $l-max-width;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.crystal-page-header__logo {
  justify-self: right;
  align-self: center;
  width: 300px;

  @media (min-width: $s-midpoint) {
    margin-right: calc(((100% - #{$s-midpoint}) / 2) + 10px);
  }

  @media (min-width: $m-min-width) {
    align-self: start;
    width: 388px;
    margin-top: 100px;
    margin-right: calc(((100% - #{$m-min-width}) / 2) + 10px);
  }

  @media (min-width: $m-midpoint) {
    margin-right: 96px;
  }

  @media (min-width: $l-min-width) {
    margin-top: 225px;
    margin-right: 108px;
  }
}

.crystal-page-header__list {
  @include list;
  order: 1;

  @media (min-width: $m-min-width) {
    order: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

.crystal-page-header__item {
  @include font(400, 16px, 16px);
  letter-spacing: 0.1em;
  text-align: right;
  text-transform: uppercase;
  color: white;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @media (min-width: $m-min-width) {
    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.crystal-page-header__string {
  font-weight: 700;
}
