.crystal-picture-block {
  @media (min-width: 983px) {
    &--history {
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 1183px;
        width: 983px;
        height: 1355px;
        background-image: url("../img/history-bg@983.png");
        background-repeat: no-repeat;
      }
    }
  }

  @media (min-width: $l-max-width) {
    &--history {
      &::before {
        left: calc(50% + 383px);
      }
    }
  }
}

.crystal-picture-block__heading {
  margin-bottom: 16px;

  @media (min-width: $m-min-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $l-min-width) {
    margin-bottom: 64px;
  }
}

.crystal-picture-block__container {
  $constrained-by-m-midpoint: (primary, magazine, history);

  @include margin-hor;
  @include padding-hor;

  @media (min-width: $m-min-width) {
    @each $value in $constrained-by-m-midpoint {
      .crystal-picture-block--#{$value} & {
        // max-width: calc(#{$m-midpoint} - (100vw - 100%));
        max-width: $m-midpoint;
      }
    }
  }

  @media (min-width: 983px) {
    .crystal-picture-block--history & {
      overflow: hidden;
    }
  }

  @media (min-width: $l-min-width) {
    max-width: $l-max-width;

    @each $value in $constrained-by-m-midpoint {
      .crystal-picture-block--#{$value} & {
        max-width: $l-max-width;
      }
    }

    .crystal-picture-block--primary & {
      position: relative;
    }

    .crystal-picture-block--magazine & {
      max-width: $m-midpoint;
    }
  }
}

.crystal-picture-block__legend {
  @include font(500, 28px, 1.15);
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $s-midpoint) {
    margin-left: $heading-margin-left-flexible;
  }

  @media (min-width: $m-min-width) {
    margin-bottom: 24px;
    margin-left: 134px;
    font-size: 48px;
  }

  @media (min-width: $l-min-width) {
    position: absolute;
    top: 450px;
    width: 420px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.crystal-picture-block__list {
  @include list;
  display: grid;
  grid-row-gap: 16px;

  .crystal-picture-block--primary & {
    counter-reset: item-numbering;
  }

  @media (min-width: $m-min-width) {
    grid-row-gap: 32px;
  }

  @media (min-width: $l-min-width) {
    .crystal-picture-block--primary & {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      grid-row-gap: 0;
    }
  }

  @media (min-width: 1600px) {
    .crystal-picture-block--magazine & {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      grid-row-gap: 0;
    }
  }
}

.crystal-picture-block__item {
  $odd-items: (1, 3);
  $even-items: (2, 4);

  @include margin-hor;

  .crystal-picture-block--primary & {
    position: relative;
    max-width: 585px;
    padding-top: 48px;

    &::before {
      @include font(700, 32px, 1);
      content: counter(item-numbering);
      position: absolute;
      top: 0;
      color: red;
      counter-increment: item-numbering;
    }

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      z-index: -1;
      width: calc(100% - 30px);
      border-style: solid;
      border-color: $picture-borders;
      border-width: 4px 0 0 0;
    }

    @each $value in $odd-items {
      &--#{$value} {
        margin-left: 0;

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }
      }
    }

    @each $value in $even-items {
      &--#{$value} {
        margin-right: 0;

        &::before {
          right: 0;
        }

        &::after {
          left: 0;
        }
      }
    }
  }

  .crystal-picture-block--magazine & {
    max-width: 788px;

    @each $value in $odd-items {
      &--#{$value} {
        margin-left: 0;
      }
    }
  }

  .crystal-picture-block--manner & {
    &--1 {
      max-width: 775px;
      margin-left: 0;
    }

    &--2 {
      max-width: 788px;
      margin-right: 0;
    }
  }

  .crystal-picture-block--stories & {
    max-width: 748px;
  }

  .crystal-picture-block--history & {
    max-width: 748px;
    margin-left: 0;
  }

  @media (min-width: $m-min-width) {
    .crystal-picture-block--primary & {
      &::after {
        width: 100%;
        height: calc(100% + 32px);
        border-style: solid;
        border-color: $picture-borders;
      }

      &--4 {
        &::after {
          height: calc(100% - 15px);
        }
      }

      @each $value in $odd-items {
        &--#{$value} {
          &::after {
            left: 30px;
            right: auto;
            border-width: 4px 4px 0 0;
          }
        }
      }

      @each $value in $even-items {
        &--#{$value} {
          &::after {
            left: auto;
            right: 30px;
            border-width: 4px 0 0 4px;
          }
        }
      }
    }

    .crystal-picture-block--magazine & {
      @each $value in $odd-items {
        &--#{$value} {
          margin-left: 0;
        }
      }

      &--2 {
        margin-right: 0;
      }
    }

    .crystal-picture-block--stories & {
      max-width: 1592px;
    }

    .crystal-picture-block--history & {
      max-width: 983px;
    }
  }

  @media (min-width: ($m-midpoint + 40px)) {
    .crystal-picture-block--magazine & {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-color: $picture-borders;
      }

      &--1 {
        &::after {
          top: 0;
          right: -40px;
          width: 100%;
          height: calc(100% + 32px);
          border-width: 0 4px 0 0;
        }
      }

      &--2 {
        padding-top: 48px;

        &::after {
          top: 0;
          left: 0;
          width: calc(100% - 112px);
          height: calc(100% + 32px);
          border-width: 4px 0 0 4px;
        }
      }

      &--3 {
        padding-top: 48px;

        &::after {
          bottom: 0;
          right: -25px;
          width: calc(100% - 127px);
          height: calc(100% + 4px);
          border-width: 4px 4px 0 0;
        }
      }
    }
  }

  @media (min-width: $l-min-width) {
    .crystal-picture-block--primary & {
      padding-top: 0;

      &::before {
        top: auto;
        left: auto;
        right: auto;
      }

      &::after {
        top: auto;
        left: auto;
        right: auto;
      }

      &--1 {
        margin-right: 24px;

        &::before {
          top: calc(100% + 15px);
          left: 0;
        }

        &::after {
          top: 0;
          right: 0;
          width: calc(100% - 30px);
          border-width: 0 0 4px 0;
        }
      }

      &--2 {
        margin-top: 182px;
        margin-bottom: 24px;
        margin-left: 0;

        &::before {
          bottom: calc(100% + 15px);
          right: 15px;
        }

        &::after {
          bottom: 0;
          left: 0;
          width: calc(100% - 45px);
          border-width: 4px 0 0 0;
        }
      }

      &--3 {
        order: 1;
        margin-right: 0;

        &::before {
          top: -4px;
          left: -37px;
        }

        &::after {
          top: 40px;
          left: -28px;
          width: 100%;
          height: 110px;
          border-width: 0 0 0 4px;
        }
      }

      &--4 {
        margin-top: 182px;
        margin-left: auto;
        margin-right: 24px;

        &::before {
          bottom: calc(100% + 15px);
          left: 0;
        }

        &::after {
          bottom: 0;
          right: 0;
          width: calc(100% - 30px);
          height: calc(100% + 32px);
          border-width: 4px 0 0 0;
        }
      }
    }
  }
}
