.crystal-picture-block__heading {
  margin-bottom: 16px;
}

.crystal-picture-block__legend {
  @include font(500, 28px, 1.15);
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $s-midpoint) {
    margin-left: $heading-margin-left-flexible;
  }

  @media (min-width: $m-min-width) {
    margin-left: 134px;
    font-size: 48px;
  }
}

.crystal-picture-block__list {
  @include list;

  .crystal-picture-block--primary & {
    display: flex;
    flex-direction: column;
    counter-reset: item-numbering;
  }
}

.crystal-picture-block__item {
  @include margin-hor;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  .crystal-picture-block--primary & {
    max-width: 585px;
    position: relative;
    padding-top: 48px;

    &::before {
      @include font(700, 32px, 1);
      content: counter(item-numbering);
      position: absolute;
      top: 0;
      color: red;
      counter-increment: item-numbering;
    }

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      width: calc(100% - 30px);
      height: 2px;
      background-color: #d6d6d6;
    }

    &:nth-child(2n+1) {
      margin-left: 0;

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    &:nth-child(2n) {
      margin-right: 0;

      &::before {
        right: 0;
      }

      &::after {
        left: 0;
      }
    }
  }

  .crystal-picture-block--magazine & {
    max-width: 788px;
  }

  .crystal-picture-block--manner & {
    &--1 {
      max-width: 775px;
    }

    &--2 {
      max-width: 788px;
    }
  }

  .crystal-picture-block--stories & {
    max-width: 748px;
  }


  .crystal-picture-block--history & {
    max-width: 748px;
  }
}
