.crystal-textblock__heading {
  margin-bottom: 32px;

  @media (min-width: $m-min-width) {
    margin-bottom: 48px;
  }
}

.crystal-textblock__container {
  @include padding-hor(var(--textblock__container-PaddingHorizontal));
  max-width: $s-midpoint;

  @media (min-width: $m-min-width) {
    max-width: none;
  }

  @media (min-width: $m-textblock-grid-trigger) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-gap: 24px;

    .crystal-textblock--task & {
      grid-template-rows: repeat(2, auto);
    }

    .crystal-textblock--design & {
      grid-template-rows: repeat(1, auto);
    }

    .crystal-textblock--development & {
      grid-template-rows: repeat(2, auto);
    }
  }

  @media (min-width: $l-min-width) {
    max-width: calc(#{$l-max-width} + var(--textblock__container-PaddingHorizontal) * 2);
  }
}

.crystal-textblock__paragraph {
  margin-top: 0;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @media (min-width: $m-textblock-grid-trigger) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
