.crystal---textblock__heading-wrapper {
  margin-bottom: 32px;
}

.crystal---textblock__paragraph {
  @include margin-hor;
  margin-top: 0;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
