mixin crystal-BLOCKNAME-picture(bem_pictureBlock_options)
  - const blockClass = `crystal-${bem_pictureBlock_options.subname}-picture`;
  li(
    class=[
      blockClass,
      `${blockClass}--${bem_pictureBlock_options.number}`,
    ]
  )&attributes({
    class: bem_pictureBlock_options.mixedClasses,
  })
    block
