mixin crystal---picture-block(pictureblock_options)
  section.crystal---picture-block(class=[
    `crystal---picture-block--${pictureblock_options.modifier}`,
    pictureblock_options.mixedClasses
  ])
    .crystal---picture-block__heading-wrapper
      h2.crystal---picture-block__heading= pictureblock_options.heading
    .crystal---picture-block__container.crystal---aligner

