mixin crystal-picture-block(pictureblock_options)
  section.crystal-picture-block(
    class=[
      `crystal-picture-block--${pictureblock_options.modifier}`,
      `${mainElement}section`,
    ]
  )
    +crystal-heading({
      generalModifier: 'pictures',
      specialModifier: pictureblock_options.modifier,
      mixedClasses: 'crystal-picture-block__heading',
      text: pictureblock_options.heading,
    })
    .crystal-picture-block__container
      if pictureblock_options.modifier === 'primary'
        p.crystal-picture-block__legend Полноэкранный скроллинг
      ul.crystal-picture-block__list
        - for (let i = 1; i <= pictureblock_options.imagesAmount; i++)
          +crystal-BLOCKNAME-picture({
            number: i,
            subname: pictureblock_options.modifier,
            mixedClasses: `crystal-picture-block__item crystal-picture-block__item--${i}`,
          })
            +crystal-photo({
              fileSubmane: pictureblock_options.modifier,
              number: i,
            })
