mixin crystal---textblock(textblock_options)
  section.crystal---textblock(class=[
    `crystal---textblock--${textblock_options.modifier}`,
    textblock_options.mixedClasses
  ])
    +crystal---heading-wrapper({
      modifier: 'textblock',
      mixedClasses: 'crystal---textblock__heading-wrapper',
      text: textblock_options.heading,
    })
    .crystal---textblock__container.crystal---aligner
      mixin crystal---textblock__paragraph(paragraphText)
        p.crystal---textblock__paragraph!= paragraphText
      each value in textblock_options.dataSource
        +crystal---textblock__paragraph(value)
