mixin crystal---heading(heading_options)
  header.crystal---heading
    .crystal---heading__inner
      mixin crystal---heading__item()
        li.crystal---heading__item= heading_options.text

      ul.crystal---heading__list
